<% @blogs.each do |blog| %>
  <div class="well blog-container">
    <h3>
      <%= link_to blog.title, blog_path(blog) %>
    </h3>
    <p>
      <%= blog.text.html_safe %>
    </p>
  </div>
<% end %>