// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container {
  background: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  .title {
    margin-top: 0px;
  }
}