<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SudAi</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Blog", "/blogs"  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div>
            <%= link_to :Einloggen, '/login', class:
              'btn btn-sm navbar-btn btn-info'
            %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>